<div class="container-fluid p-3 bg-primary text-black text-center">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand center text-white text-center" routerLink="/indiceEnlace">

                    {{copyright}}
                    <br>
                    {{creador}}

                </a>
            </div>
            <!--Lista ordenada con bootstrap-->
            <ul class="nav navbar-nav">

                <li><a class="navbar-brand center text-white text-center" routerLink="/politicaEnlace">Política de Privacidad</a>
                </li>


            </ul>
        </div>
    </nav>

</div>

