


<div class="p-1 text-center bg-warning w-50 mx-auto">
    <h1 class="mb-3">CONTACTO NOSOTROS</h1>
</div>




<div class="container my-5">
    <!--Usamos bootstrap para hacer un formulario-->
    <h2 class="text-center mb-4">{{VariableFormulario}}</h2>
    <form action="">
        <!-- Campo de Email -->
        <div class="mb-3">
            <label for="email" class="form-label">{{Email}}</label>
            <input type="email" class="form-control" id="email" placeholder="Ingrese su email" name="email" required>
        </div>
        
        <!-- Campo de Nombre -->
        <div class="mb-3">
            <label for="nombre" class="form-label">{{Nombre}}</label>
            <input type="text" class="form-control" id="nombre" placeholder="Ingrese su nombre" name="nombre" required>
        </div>
        
        <!-- Campo de Contenido de Petición -->
        <div class="mb-3">
            <label for="contenido" class="form-label">{{Peticion}}</label>
            <textarea class="form-control" id="contenido" placeholder="Escriba su petición aquí" name="contenido" rows="4" required></textarea>
        </div>
        
        <!-- Checkbox de Permiso -->
        <div class="form-check mb-3">
            <input type="checkbox" class="form-check-input" id="permiso" name="permiso">
            <label class="form-check-label" for="permiso">{{preguntaPublicidad}}</label>
        </div>
        
        <!-- Botón de Enviar -->
        <button type="submit" class="btn btn-success">{{enviar}}</button>
    </form>
    <br>
    <!--Texto centrado con bootstrap-->
  <div class="p-5 text-center bg-body-tertiary">
    <h1 class="mb-3">{{localizacion}}</h1>
    <h4 class="mb-3">{{miranos}}</h4>
   
  </div>

<div class="container mt-5">
    <div class="row">
        <!--Imagen de mapa adjuntado con bootstrap-->
        <div class="col-sm-6 mx-auto">
            <img src="./assets/images/Mapa.png" class="img-rounded center mx-auto" style="width: 100%; height: 80%"     ><br>
        {{sitioLocalizacion}}
        
            <br>
        </div>
       
    </div>
</div>

    
    
    
    
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

<br> <br>
<!--Esto hace que el contenido del fichero footer.jsp se INCLUYA aqui-->

