

<div class="p-1 text-center bg-warning w-50 mx-auto">
    <h1 class="mb-3">SOBRE NOSOTROS</h1>
</div>


<!--Usamos bootstrap para crear dos imágenes con texto-->
<div class="container mt-5">
    <div class="row">
        <div class="col-sm-6">
            <div class="container mt-3">
                <h2>Nuestra historia</h2>
                <p>Desde los inicios a hoy</p>
                <div class="card img-fluid" style="width:500px">
                    <img class="card-img-top" src="./assets/images/imagen_empresa.png" alt="Card image" style="width:100%">
                    <div class="card-img-overlay">
                        <h4 class="card-title">Siempre adelante</h4>
                        <p class="card-text"> Sin limites </p>
                    <a href="#" class="btn btn-primary">¿Quieres saber más?</a>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-sm-6">
            <div class="container mt-3">
                <h2>Nuestra gente</h2>
                <p>Siempre a la cabeza</p>
                <div class="card img-fluid" style="width:500px">
                    <img class="card-img-top" src="./assets/images/cara_1.png" alt="Card image" style="width:100%">
                    <div class="card-img-overlay">
                        <h4 class="card-title">Del primero al último</h4>
                        <p class="card-text"> Sin desfallecer </p>
                    <a href="#" class="btn btn-primary">¿Quieres saber más?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br>
</div>
