
<div class="p-1 text-center bg-success w-50 mx-auto">
    <h1 class="mb-3">NUESTRA COMPAÑIA</h1>
</div>



<!--Usamos bootstrap para crear una lista de 4 columnas-->
<div class="container mt-5">
    <div class="row">
        <div class="col-sm-3">
            <!--Dentro de cada lista ponemos una imagen y un texto-->
            <img src="./assets/images/ser1.png" class="img-rounded center" style="width: 300px; height: 200px"     ><br>
            
               <h4 class="mb-3"> MAÑANA ES HOY</h4>
               Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            <br>
        </div>
        <div class="col-sm-3">
            <img src="./assets/images/ser2.png" class="img-rounded" style="width: 300px; height: 200px"     ><br>
               <h4 class="mb-3">VIGILAMOS LA REALIDAD</h4>
               Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            <br>
        </div>
        <div class="col-sm-3">
            <img src="./assets/images/ser3.png" class="img-rounded" style="width: 300px; height: 200px"     ><br>
               <h4 class="mb-3">NOS COMUNICAMOS</h4>
               Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            <br>
        </div>
        <div class="col-sm-3">
            <img src="./assets/images/ser4.png" class="img-rounded" style="width: 300px; height: 200px"     ><br>
               <h4 class="mb-3">SOMOS CERCANOS</h4>
               Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
            <br>
        </div>
    </div>
    
    <br><br>
</div>

