    <header>
        <div class="container-fluid p-4 bg-primary text-white text-center">
            <h1>{{titulocabecera}} </h1>
            
            <!--        Usamos Bootstrap para completar el menu superior-->
            <ul class="nav">
            <li class="nav-item">
                <a class="btn btn-info mx-1" routerLink="/indiceEnlace">Inicio</a>
            </li>            
            <li class="nav-item">
                <a class="btn btn-info mx-1" routerLink="/sobreEnlace">Sobre nosotros</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-info mx-1" routerLink="/serviciosEnlace">Servicios</a>
            </li> 
            <li class="nav-item">
                <a class="btn btn-info mx-1" routerLink="/contactoEnlace">Contacto</a>
            </li>             
        </ul>
    </div>
    </header>
    <br>
